<h2>From which chapter do you wish to select ?</h2>
<ul data-role="listview" id="listOfChapters">
	<li><a data-table="LUCANDC">LOADING, UNLOADING, CARRIAGE and CRUSHING OF MATERIALS</a></li>
	<li><a data-table="SiteClearence">SITE CLEARANCE</a></li>
	<li><a data-table="EECD">EARTHWORK, EROSION CONTROL AND DRAINAGE</a></li>
	<li><a data-table="GranSubBases">GRANULAR SUB-BASES, BASES (NON-BITUMINOUS) AND SHOULDERS</a></li>
	<li><a data-table="BasesAndSurface">BASES AND SURFACE COURSES (BITUMINOUS)</a></li>
	<li><a data-table="CCPAVEMENT">CEMENT CONCRETE PAVEMENT</a></li> 
	<li><a data-table="CauAndSubMerBridges">CAUSEWAY AND SUBMERSIBLE BRIDGES</a></li>
	<li><a data-table="HillRoads">HILL ROADS</a></li>
	<li><a data-table="PipeCulverts">PIPE CULVERTS</a></li>
	<li><a data-table="TrafficSigns">TRAFFIC SIGNS, MARKINGS AND OTHER ROAD APPURTENANCES</a></li> 
	<li><a data-table="Foundation">FOUNDATION</a></li>
	<li><a data-table="SubStructure">SUBSTRUCTURE</a></li> 
	<li><a data-table="SuperStructure">SUPERSTRUCTURE</a></li>
	<li><a data-table="ProtectionWorks">PROTECTION WORKS</a></li>
	<li><a data-table="MaintOfRoads">MAINTENANCE OF ROADS</a></li>
	<li><a data-table="GEOSYNTHETICS">GEOSYNTHETICS AND REINFORCED EARTH</a></li> 
	<li><a data-table="Repair">REPAIR AND REHABILITATION </a></li> 
</ul>
