<div data-role="collapsible">
	<h2>Roads And Bridges</h2>
	<ul data-role="listview" id="listItems">
		<li><a data-table="CCROAD">Cement Concrete Road</a></li>
		<li><a>Hill Road</a></li>
		<li><a>PIPE CULVERTS</a></li>
		<li><a>PROTECTION WORKS</a></li>
		<li><a>MAINTENANCE OF ROADS</a></li>
		<li><a>REPAIR AND REHABILITATION</a></li> 
	</ul>
</div>




