<div data-role="fieldcontain" style="margin:10% 5% 10% 5%">
	<div data-role="fieldcontain">
		<label for="username">UserName<sup style="color:red"><b>*</b></sup></label>
		<input type="text" id="username"/>
	</div>
	<div data-role="fieldcontain">
		<label for="password">Password<sup style="color:red"><b>*</b></sup></label>
		<input type="password" id="password"/>
	</div>
	<br/>
	<input type="submit" data-theme="e" id="login" value="Login"/>
</div>
