<div class="menu-panel ui-bar-d" id="menuPanel">
	<div class="panel-main-nav">
		<!-- <div class="svg apmap"></div> -->
		<p style="margin:-10px 10px 23px 20px;" >Menu</p>
		<div class="transparent-button large-button" id="newEstimate">
			<div></div>
			<span>New Estimate</span>
		</div>

		<div class="transparent-button large-button" id="datas">
			<div></div>
			<p>Datas</p>
		</div>

		<div class="transparent-button large-button" id="historyOption">
			<div></div>
			<p>History</p>
		</div>


		<div class="panel-sub-nav">
			<div id="editProfile">
				<div></div>
				<p>Edit Profile</p>
			</div>

			<div id="Help">
				<div></div>
				<p>Help</p>
			</div>
			<!--
			<div id="developer">
				<div></div>
				<p>About Developer</p>
			</div>
			-->
		</div>
		<div id="logout" class="logout">
			<p>Logout</p>
		</div>
	</div>

</div>

