
{{#if isHeaderRequired}}
	<div data-role="header" data-position="fixed">
		
	</div>
{{/if}}
<div role="main" class="ui-content">
	
</div>

{{#if isFooterRequired}}
	<div data-role="footer">

	</div>
{{/if}}

